<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Selamat Datang</title>
    <link rel="shortcut icon" type="image/png" href="https://img.icons8.com/cute-clipart/64/000000/chat.png" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <style>

    </style>

</head>
<body>
    <div class="container-fluid">
        <form autocomplete="off" action="/chat" method="POST" style="padding-top: 50px;">
            <label for="exampleInputEmail1">Nama</label>
                <div class="form-group">
                    <input class="form-control" type="text" name="name" id="">
                </div>
            <button type="submit" class="btn btn-primary">Enter</button>
        </form>
    </div>
</body>
</html>